html{
    scroll-behavior: smooth;
}

.container{
    width: 90% !important;
    margin: 0 auto;
}

.link, a{
    text-decoration: none;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: #666BC2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #666BC2;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-preenchido{
    background-color: #666BC2;
    color: #ECF0F7;
}

.fonte-14{
    font-size: 14px !important;
}

.fonte-25{
    font-size: 25px !important;
}

/* Site institucional */
.opacidade{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.min-section{
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.blob{
    position: absolute;
}

.nav{
    width: 100%;
    height: 70px;
    background-color: #ECF0F7;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.nav .container .link{
    width: 10%;
}

.logo{
    width: 8%;
    float: left;
}

.section-1{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.section-1 img{
    width: 30%;
}

#blob1{
    left: 70%;
}

.section-1 .content{
    text-align: left;
    width: 50%;
    font-size: 65px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.section-1 .content span{
    color: #666BC2;
    font-weight: 900;
}

.section-1 .content .link{
    width: 30%;
}

.section-2{
    background-image: url(../Images/co-working.jpg);
    background-attachment: fixed;
}

.section-2 .opacidade{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.section-2 .opacidade .container{
    display: flex;
    justify-content: flex-end;
}

.section-2 .opacidade .container .content{
    width: 40%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.section-2 .opacidade .container .content,
.section-4 .opacidade .container .content{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    color: #ECF0F7;
}

.section-2 .opacidade .container .content .link,
.section-5 .container .form-contato .link{
    width: 30%;
}

.section-2 .opacidade .container .content .btn,
.section-5 .container .form-contato .link .btn{
    color: #ECF0F7;
    border: 2px solid #ECF0F7;
    z-index: 999;
}

.section-3{
    padding-top: 5%;
    padding-bottom: 5%;
}

.section-3 .container{
    display: flex;
    flex-direction: row;
}

.items{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    font-size: 35px;
    color: #666BC2;
    font-weight: 900;
}

.item img{
    height: 30vh;
}

.item span{
    margin-top: 4vh;
}

#item2{
    margin-top: 25vh;
}

#item3{
    margin-top: 45vh;
}

#blob2{
    top: 102vh;
    left: 71%;
}

#blob3{
    top: 170vh;
}

.section-4{
    background-image: url('../Images/people-in-working.jpg');
    background-attachment: fixed;
}

.section-4 .opacidade .container .content{
    text-align: left;
    width: 45%;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.section-5{
    width: 100%;
    background-color: #666BC2;
    color: #ECF0F7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.section-5 h2{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.section-5 .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.section-5 .container .content{
    text-align: left;
    font-size: 60px;
    width: 35%;
}

.bar{
    width: 5px;
    height: 50vh;
    background-color: #ECF0F7;
    margin: 0 5% 0 5%;
}

.form-contato{
    width: 30%;
    display: flex;
    flex-direction: column;
    z-index: 900;
}

.form-contato .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3%;
}

.form-contato .row .col{
    width: 48%;
}

.form-contato .row textarea{
    width: 100%;
    height: 20vh;
    background-color: #ECF0F7;
    resize: none;
    border-radius: 5px;
    font-size: 16px;
}

.input-form{
    background-color: #ECF0F7;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
    font-size: 16px;
}

#blob4{
    top: 270vh;
}

.section-6{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
}

.section-6 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 20vh;
    justify-content: space-around;
}

.links ul h3{
    margin-bottom: 10%;
    font-size: 30px;
}

.links ul li{
    margin-bottom: 10%;
    font-size: 25px;
}

.links ul li a{
    color: black;
}

.redes-sociais{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15%;
}

.redes-sociais .logo{
    width: 100%;
    margin-top: 10%;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 70%;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons img{
    width: 40px;
}

.footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    background-color: #666BC2;
    color: #ECF0F7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

/* Menu */
.menu{
    width: 20%;
    height: 94vh;
    position: absolute;
    top: 3%;
    left: 2%;
    display: flex;
    flex-direction: column;
    background-color: #ECF0F7;
    padding: 2%;
    font-size: 30px;
}

.nome-user{
    color: #666BC2;
}

.itens-menu{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

.item-menu{
    width: 100%;
    text-decoration: none;
    margin-bottom: 7%;
    display: flex;
    flex-direction: row;
    align-items: center; 
    color: black;
}

.item-menu span{
    margin-left: 15px;
}

.item-menu:hover{
    text-decoration: underline;
}

.item-menu button{
    background-color: #ECF0F7;
    border: none;
    font-size: 25px;
    margin-left: 5px;
    cursor: pointer;
}

.icon-menu{
    color: #666BC2;
}

#item-sair{
    position: absolute;
    bottom: 0;
}

/* Metricas */
.metricas{
    width: 65%;
    float: right;
    margin-top: 1.5%;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.metrica{
    width: 25%;
    height: 13vh;
    background-color: #ECF0F7;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 15px;
    position: relative; 
}

.metrica span{
    margin-bottom: 15px;
}

.valor-metrica{
    font-size: 30px;
}

.titulo-metrica{
    width: 80%;
}

.icon-metrica{
    position: absolute;
    margin-left: 80%;
}

/* Charts */

.chart-area{
    width: 65%;
    min-height: 35vh;
    background-color: #ECF0F7;
    float: right;
    margin-right: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.charts-pie{
    width: 90%;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.charts-pie div{
    width: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.charts-pie div h2{
    margin-left: 10%;
    margin-bottom: 5%;
}

/* settings */

.body-config{
    width: 65%;
    min-height: 94vh;
    background-color: #ECF0F7;
    float: right;
    margin-top: 1.5%;
    margin-right: 2%;
    display: flex;
    align-items: flex-start;
}

.body-config .container{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.body-config .container h1{
    font-size: 40px;
    color: #666BC2;
    margin-bottom: 2%;
}

.user-config{
    width: 100%;
    margin-bottom: 5%;
}

.configs-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.configs-head h2{
    font-size: 30px;
}

.configs-head span{
    color: #666BC2;
    font-size: 20px;
    margin-left: 2%;
    cursor: pointer;
}

.label-settings{
    color: #666BC2;
    margin-bottom: 5px;
}

.input-settings{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: 2px solid #666BC2;
    padding: 5px;
    background-color: #ECF0F7;
    border-radius: 5px;
}

.row-configs{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.col-settings{
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

/*Password*/

.body-password{
    height: 100vh;
    align-items: center;
}

.card-password{
    width: 30%;
    height: 35vh;
    background-color: #ECF0F7;
}

.error-valid{
    color: red;
}